[Unit]
Description=Sets up monitors when they're connected or disconnected
After=graphical.target

[Service]
Type=oneshot
ExecStart=%h/sh/monitor-checker.bash

[Install]
WantedBy=multi-user.target
